* {
    list-style: none;
    padding: 0;
    margin: 0;
    border-color: transparent;
    background-color: transparent;
    color: inherit;
    border-width: 0;
    --clamp-font-size: clamp(1rem, 1rem + 4vw, 4rem);
}
body {
    min-height: 100vh;
    display: grid;
}
.page {
    min-height: 100%;
    position: relative;
    padding: 1rem 0;
    display: grid;
    place-content: center;
    width: 100;
    background-color: black;
    color: white;

    * {
        text-shadow: 0 0 10px rgb(0, 0, 0);
    }
}
.content {
    z-index: 1;
    width: clamp(350px, 60vw, 700px);
    padding: 1rem;
    border: 1px solid white;
    background-color: rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    display: grid;
    gap: 1rem;

    & > * {
        /* width: 100%; */
    }
}
img {
    position: absolute;
    inset: 0;
    margin: 0;
    width: 100%;
    min-height: 100vh;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
    background-color: black;
    /* transition: 0.5s ease;
    .loading {
        opacity: 0;
    } */
}
form {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 0.5rem;
    border-radius: 50px;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    input {
        border-radius: 50px;
        flex: 1;
        padding: 0.5rem 1rem;
    }
    button {
        border-radius: 50px;
        padding: 0.5rem 1rem;
        background-color: rgba(0, 0, 0, 0.5);

        transition: 0.2s;
        &:active {
            transform: scale(0.95);
        }
    }
}
.weather {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 20px;
    padding: 1rem;

    /* transition: 0.5s;
    transition: 0.5s ease;
    grid-template-rows: 1fr;
    overflow: hidden;
    .loading {
        opacity: 0;
        grid-template-rows: 0fr;
    } */

    display: grid;
    place-items: center;
    gap: 2rem;
    grid-template-areas: 
        "title feel"
        "time time"
        "desc desc"
        "alert alert";
    ul {
        width: 100%;

        display: grid;
        gap: 0.5rem;
        place-items: center;
    }
    & > .title {
        grid-area: title;
        font-size: var(--clamp-font-size);
    }
    & > .feel {
        grid-area: feel;
        .temp {
            font-size: var(--clamp-font-size);
            min-width: max-content;
        }
    }
    & > .time {
        grid-area: time;
        grid-template-areas: 
            "time time"
            "sunrise sunset";
        .time {
            grid-area: time;
            font-size: 3rem;
        }
        .sunrise {
            grid-area: sunrise;
        }
        .sunset {
            grid-area: sunset;
        }
    }
    & > .description {
        grid-area: desc;
    }
    & > .alerts {
        grid-area: alert;
    }

    li {
        padding: 0.5rem;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        justify-content: center;

        span {
            border-radius: 50px;
        }
    }
}
.credits {
    margin-top: 1rem;
    display: flex;
    justify-content: flex-end;
}